<template>
    <div>
        <b-tabs content-class="mt-3">
            <b-tab v-for="contributor in contributors" :key="contributor" :title="contributor">
                <h4>Commits
                    <span class="h2"><b-icon v-b-modal.modal-commitdata icon="info-circle"></b-icon></span>
                </h4>
                <b-table :items="commitData[contributor]" :fields="commitFields">
                    <template v-slot:cell(commit)="data">
                        <a :href="url + '/-/commit/' + data.value" target="_blank">{{ data.value }}</a>
                    </template>
                    <template v-slot:cell(show_details)="row">
                        <b-button size="sm" @click="row.toggleDetails" class="mr-2">
                            {{ row.detailsShowing ? 'Hide' : 'Show' }} Details
                        </b-button>
                    </template>
                    <template v-slot:row-details="row">
                        <b-card>
                            <table class="table table-striped">
                                <tr>
                                    <th>File</th>
                                    <th>Edit A/C/D</th>
                                    <th>Size</th>
                                    <th>Changed Methods</th>
                                    <th>Method Size</th>
                                    <th>Method CC</th>
                                </tr>
                                <template v-for="mod in row.item.modifications">
                                    <tr class="table-primary" :key="mod.filename">
                                        <td>{{ mod.filename }}</td>
                                        <td v-if="mod.calculated_changes.code">
                                            Code: {{ mod.calculated_changes.code.new }} -
                                            {{ mod.calculated_changes.code.changed }} -
                                            {{ mod.calculated_changes.code.deleted }} <br/>
                                            Comments: {{ mod.calculated_changes.comment.new }} -
                                            {{ mod.calculated_changes.comment.changed }} -
                                            {{ mod.calculated_changes.comment.deleted }}
                                        </td>
                                        <td v-if="!mod.calculated_changes.code">{{ mod.calculated_changes.new }} -
                                            {{ mod.calculated_changes.changed }} - {{ mod.calculated_changes.deleted }}
                                        </td>
                                        <td>{{ mod.nloc }}</td>
                                        <td colspan="3"></td>
                                    </tr>
                                    <tr v-for="(method, name) in mod.methods" :key="name">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>{{ name }}</td>
                                        <td>{{ method.nloc }}</td>
                                        <td>{{ method.complexity }}</td>
                                    </tr>


                                </template>
                            </table>
                            <b-button size="sm" @click="row.toggleDetails">Hide Details</b-button>
                        </b-card>
                    </template>
                </b-table>
                <h4>Merges</h4>
                <b-table :items="mergeData[contributor]">
                    <template v-slot:cell(commit)="data">
                        <a :href="url + '/-/commit/' + data.value" target="_blank">{{ data.value }}</a>
                    </template>
                </b-table>
            </b-tab>
        </b-tabs>
        <b-modal id="modal-commitdata" title="Commit Data">
            <p>
                <b>Source:</b> Per contributor a list of commits that elicited changed and a list of merges. All commits
                are from all known branches in the set. This can take a while to load which is why it is hidden to begin
                with.
            </p>
            <p>
                <b>CC, Interfacing, Size Score</b> are generated by PyDriller: <br/>

            </p>
            <p>
                It represents the proportion (between 0.0 and 1.0) of maintainability improving change, when considering
                the cyclomatic complexity of the modified methods.
            </p>
            <p>
                It rewards (value close to 1.0) modifications to low-risk (low complexity) methods, or spliting risky
                (highly complex) ones. It penalizes (value close to 0.0) working on methods that remain complex or get
                more complex.
            </p>
            <p>
                The same applies for Interfacing and UnitScore. Due to the small nature of the projects these numbers
                can appear very low while the code has not been impacted that much.
            </p>
            <p>
                <b>Show more</b> Will give a list of all the files and methods that were modified in this commit with
                the size and complexity after the change.
            </p>
        </b-modal>
    </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    name: "CommitData",
    data() {
        return {
            commitFields: [
                {
                    key: 'date',
                    formatter: value => {
                        let d = new Date(value);
                        return d.toLocaleDateString("nl-NL", {timeZone: 'UTC'}) + " " + d.toLocaleTimeString("nl-NL", {timeZone: 'UTC'})
                    }
                },
                {
                    key: 'message',
                },
                {key: 'cc_score'}, {key: 'interfacing_score'}, {key: 'size_score'},
                {
                    key: 'nr_of_files_changed'
                },
                {key: 'show_details'},
                {key: 'noncode_files_changed'},
                {
                    key: 'commit',
                },

            ],
            mergeFields: [
                {
                    key: 'date',
                    formatter: value => {
                        let d = new Date(value);
                        return d.toLocaleDateString("nl-NL", {timeZone: 'UTC'}) + " " + d.toLocaleTimeString("nl-NL", {timeZone: 'UTC'})
                    }
                },
                {
                    key: 'message',
                },
                {
                    key: 'commit',
                },

            ],
        }
    },
    computed: {
        repo: function () {
            return this.getCurrentRepo
        },
        url: function () {
            return this.repo.url
            //return this.repo.url.substring(0, this.repo.url.length - 4)
        },
        contributors: function () {
            return Object.keys(this.repo.committers);
        },
        report: function () {
            return this.getFilteredReport('base')
        },
        ...mapGetters({
            getCurrentRepo: "repos/getCurrentRepo",
            getFilteredReport: "reports/getFilteredReport"
        }),
        commitData: function () {
            let commitData = {}
            this.contributors.forEach(function (contributor) {
                commitData[contributor] = [];
            });
            this.report.forEach((item) => {
                if (!item.merge && item.author in commitData) {
                    commitData[item.author].push({
                        commit: item.hash,
                        date: item.date,
                        message: item.message,
                        cc_score: item.dmm_unit_complexity ? item.dmm_unit_complexity.toPrecision(2) : null,
                        interfacing_score: item.dmm_unit_interfacing ? item.dmm_unit_interfacing.toPrecision(2) : null,
                        size_score: item.dmm_unit_size ? item.dmm_unit_size.toPrecision(2) : null,
                        nr_of_files_changed: item.modifications.length,
                        modifications: item.modifications,
                        noncode_files_changed: item.noncode,
                    })
                }
            });
            return commitData;
        },
        mergeData: function () {
            let commitData = {}
            this.contributors.forEach(function (contributor) {
                commitData[contributor] = [];
            });
            this.report.forEach((item) => {
                if (item.merge && item.author in commitData) {
                    commitData[item.author].push({
                        commit: item.hash,
                        date: item.date,
                        message: item.message,
                    })
                }
            });
            return commitData;
        },
    }

}
</script>

<style scoped>

</style>