<template><div>
    <h2>Comment <b-icon v-b-modal.modal-comment icon="info-circle"></b-icon></h2>

    <BarChart :height=400 :chart-data="chartData" :options="options"/>
                   <b-modal id="modal-comment" title="Comments">
                       <p>
                           Number of comment lines added/modified/deleted by a contributor. The scale is matched
                           with lines of code to see a clear comparison.
                       </p>
            <p>
                <b>Source:</b> Data is taken from master branch and all branches available on Gitlab. Empty lines, lines containingly on a '}' and lines that begin with 'import' or 'package' are filtered from the results.
            </p>
                       <p>Comments are matched to lines starting with: '/*', '*', '//'</p>

               <p>
                   <b>Changed</b> lines are calculated using difflib.SequenceMatcher in Python. A ratio above 0.6 marks it as changed. Below means it is new and
                deleted lines that have not been matched are marked as removed.
               </p>
                       <p>Height of the chart is matched to the height of the code chart.</p>
        </b-modal>
    </div>
</template>

<script>
    import BarChart from "../charts/BarChart";
    import threebarColors from "../../utils/threeBarColors";
    import {mapGetters} from "vuex";

    export default {
        name: "CommentContrib",
        components: {BarChart},
        computed: {
            highValue: function() {
                return this.$store.state.qtyHighValue
            },
            repo: function() {
                return this.getCurrentRepo
            },
            contributors: function() {
                return Object.keys(this.repo.committers);
            },
            report: function() {
                return this.getFilteredReport('base')
            },
            ...mapGetters({
                getCurrentRepo: "repos/getCurrentRepo",
                getFilteredReport: "reports/getFilteredReport"
            }),
            options: function () {
                return {
                    title: {
                        display: false,
                        text: 'Metrics'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                max: this.highValue
                            }
                        }]
                    }
                }
            },
            chartData: function () {
                let chartData = {
                    labels: this.contributors,
                    datasets: [{
                        label: 'Added',
                        backgroundColor: threebarColors[0],
                        data: this.getCodeCount('new')
                    },
                        {
                            label: 'Changed',
                            backgroundColor: threebarColors[1],
                            data: this.getCodeCount('changed')
                        },
                        {
                            label: 'Deleted',
                            backgroundColor: threebarColors[2],
                            data: this.getCodeCount('deleted')
                        }]
                }
                return chartData

            }
        },
        methods: {
            getCodeCount: function (type) {
                let addedComment = []
                let contributors = this.contributors
                contributors.forEach(function () {
                    addedComment.push(0);
                });
                this.report.forEach((item) => {
                    item.modifications.forEach(function (mod) {
                        if (mod.type == 'code') {
                            addedComment[contributors.indexOf(item.author)] += mod.calculated_changes.comment[type];
                        }
                    })

                });
                return addedComment;
            }
        }
    }
</script>

<style scoped>

</style>