<template>
    <div>
        <h2>Documentation
            <b-icon v-b-modal.modal-doc icon="info-circle"></b-icon>
        </h2>
        <BarChart :height=400 :chart-data="chartData" :options="options"/>
        <b-modal id="modal-doc" title="Documentation">
            <p>
                This tracks added/modified/deleted lines in .md files. It requires students to maintain their documentation
                within the project using .md files.
            </p>
            <p>
                <b>Source:</b> Data is taken from master branch and all branches available on Gitlab. Empty lines are
                filtered from the results.
            </p>
            <p>
                <b>Changed</b> lines are calculated using difflib.SequenceMatcher in Python. A ratio above 0.6 marks it
                as changed. Below means it is new and
                deleted lines that have not been matched are marked as removed.
            </p>
        </b-modal>
    </div>
</template>

<script>
import BarChart from "../charts/BarChart";
import threebarColors from "../../utils/threeBarColors";
import {mapGetters} from "vuex";

export default {
    name: "DocContrib",
    components: {BarChart},
    data() {
        return {
            highValue: 0,
        }
    },
    computed: {
        repo: function () {
            return this.getCurrentRepo
        },
        contributors: function () {
            return Object.keys(this.repo.committers);
        },
        report: function () {
            return this.getFilteredReport('base')
        },
        ...mapGetters({
            getCurrentRepo: "repos/getCurrentRepo",
            getFilteredReport: "reports/getFilteredReport"
        }),
        options: function () {
            return {
                title: {
                    display: false,
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                maintainAspectRatio: false,
            }

        },
        chartData: function () {
            let chartData = {
                labels: this.contributors,
                datasets: [{
                    label: 'Added',
                    backgroundColor: threebarColors[0],
                    data: this.getCodeCount('new')
                },
                    {
                        label: 'Changed',
                        backgroundColor: threebarColors[1],
                        data: this.getCodeCount('changed')
                    },
                    {
                        label: 'Deleted',
                        backgroundColor: threebarColors[2],
                        data: this.getCodeCount('deleted')
                    }]
            }
            return chartData

        }
    },
    methods: {
        getCodeCount: function (type) {
            let addedDoc = []
            let contributors = this.contributors
            contributors.forEach(function () {
                addedDoc.push(0);
            });
            this.report.forEach((item) => {
                item.modifications.forEach(function (mod) {
                    if (mod.type == 'doc') {
                        addedDoc[contributors.indexOf(item.author)] += mod.calculated_changes[type];
                    }
                })
            });
            return addedDoc;
        }
    },

}
</script>

<style scoped>

</style>