<template>
    <div>
        <h2>Commit Times
            <b-icon v-b-modal.modal-time icon="info-circle"></b-icon>
        </h2>
        <scatter-plot :chart-data="chartData" :options="options"/>
        <b-modal id="modal-time" title="Commit Times">
            <p>
                This displays when students are doing their commits. This can be used to see if they were committing
                as a group. It also gives a general idea of how often people commit, however number of commits is not a
                very interesting metric.
            </p>
            <p>
                <b>Source:</b> For each commit map the time to day and rough hour of the day.
            </p>
            <p>
                <b>Stacked names</b> mean multiple commits within a short span of time.
            </p>
        </b-modal>
    </div>
</template>

<script>
import ScatterPlot from "../charts/ScatterPlot";
import chartColors from "../../utils/chartcolors";
import moment from 'moment';
import {mapGetters} from "vuex";

export default {
    name: "HourChart",
    components: {ScatterPlot},
    data() {
        return {
            options: {
                title: {
                    display: false,
                    text: 'Metrics'
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var label = data.datasets[tooltipItem.datasetIndex].label || '';

                            if (label) {
                                label += ': ';
                            }
                            var hours = Math.floor(tooltipItem.yLabel);
                            var minutes = tooltipItem.yLabel % 1;
                            minutes = Math.round(minutes * 60);
                            if (minutes < 10) {
                                minutes = '0' + minutes;
                            }
                            label += hours + ':' + minutes;
                            return label;
                        }
                    }
                },
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        type: 'time',
                        distribution: 'linear',
                        time: {
                            unit: 'day',
                            displayFormats: {
                                day: 'ddd MMM Do'
                            }
                        }
                    }],
                    yAxes: [{
                        type: 'linear',
                        position: 'left',
                        ticks: {
                            min: 0,
                            max: 24,
                            stepSize: 1
                        }
                    }
                    ]

                },
            }
        }
    },
    computed: {
        repo: function () {
            return this.getCurrentRepo
        },
        contributors: function () {
            return Object.keys(this.repo.committers);
        },
        report: function () {
            return this.getFilteredReport('base')
        },
        ...mapGetters({
            getCurrentRepo: "repos/getCurrentRepo",
            getFilteredReport: "reports/getFilteredReport"
        }),
        chartData: function () {
            let contributors = this.contributors;
            let datasets = []
            contributors.forEach(function (contributor, index) {
                datasets.push({
                    label: contributor,
                    backgroundColor: chartColors[index],
                    data: []
                });
            });
            datasets = this.addTimeStamps(datasets, contributors);
            return {datasets: datasets}


        }
    },
    methods: {
        addTimeStamps: function(datasets, contributors) {
            this.report.forEach((item) => {
                let date = moment(item.date, "YYYY-MM-DDTHH:mm:ssZZ"); //2018-07-01T20:38:32+02:00
                let thour = date.format('H')
                let tmin = date.format('m') / 60
                if(contributors.indexOf(item.author) > -1) {
                    datasets[contributors.indexOf(item.author)].data.push({
                        x: date.startOf('day'),
                        y: parseFloat(thour) + parseFloat(tmin)
                    })
                }
            });
            return datasets
        }
    }
}
</script>

<style scoped>

</style>