<template>
    <div class="row">
        <div class="col-md-12">
            <h2>Method Sizes
                <b-icon v-b-modal.modal-size icon="info-circle"></b-icon>
            </h2>
        </div>
        <div class="col-md-6">
            Added Method Size
            <BarChart :height=400 :chart-data="chartDataAdded" :options="optionsA"/>
        </div>
        <div class="col-md-6">
            Size after change
            <BarChart :height=400 :chart-data="chartDataModified" :options="optionsM"/>
        </div>
        <div v-if="highItems.length >0" class="col-md-12">
            <h4>Files with Methods more than 50 lines</h4>
            <b-table striped hover :items="highItems" :fields="fields">
                <template v-slot:cell(commit)="data">
                    <a :href="url + '/-/commit/' + data.value" target="_blank">{{ data.value }}</a>
                </template>
            </b-table>
        </div>
        <b-modal id="modal-size" title="Method Size">
            <p>
                Methods should be focussed on doing one thing. Large methods can often indicate methods doing more
                than they should. In which case it is recommended to split them up. Anything above 50 requires additional
                attention.
            </p>
            <p>
                Similar to complexity this adds up introduced methods and methods left with a certain size. If a student
                only adds small methods or only adds large methods this might need attention.
            </p>
            <p>
                <b>Source:</b> For each commit if a method was new, count the size. So if John had a count of 5 on
                X axis 5-10, then John introduced 5 methods with 5 - 10 lines each. The same is true when a
                method altered and shows the Size range that John left the method in.
            </p>
            <p>
                <b>Large Size</b>, that is to say methods with a Size over 50 are listed with a link to the
                commit and the file name it happened in. This only appears if those methods exist.
            </p>
        </b-modal>
    </div>
</template>

<script>
import BarChart from "../charts/BarChart";
import chartColors from "../../utils/chartcolors";
import {mapGetters} from "vuex";

export default {
    name: "Complexity",
    components: {BarChart},
    data() {
        return {
            highValue: 0,
            highMethods: {},
            fields: [
                {
                    key: 'file',
                },
                {
                    key: 'committer',
                },
                {
                    key: 'date',
                    formatter: value => {
                        let d = new Date(value);
                        return d.toLocaleDateString("nl-NL", {timeZone: 'UTC'}) + " " + d.toLocaleTimeString("nl-NL", {timeZone: 'UTC'})
                    }
                },
                {
                    key: 'commit',
                },

            ],
        }
    },
    watch: {
        report: {
            handler: function () {
                this.highMethods = {}
            }
        }
    },
    computed: {
        repo: function () {
            return this.getCurrentRepo
        },
        url: function () {
            return this.repo.url.substring(0, this.repo.url.length - 4)
        },
        contributors: function () {
            return Object.keys(this.repo.committers);
        },
        report: function () {
            return this.getFilteredReport('base')
        },
        ...mapGetters({
            getCurrentRepo: "repos/getCurrentRepo",
            getFilteredReport: "reports/getFilteredReport"
        }),
        highItems: function () {
            let list = [];
            for (let item in this.highMethods) {
                list.push({
                    commit: item,
                    date: this.highMethods[item].date,
                    file: this.highMethods[item].filename,
                    committer: this.highMethods[item].committer
                })
            }
            return list;
        },
        optionsA: function () {
            return {
                title: {
                    text: 'Added'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            callback: (value, index, values) => {
                                this.highValue = values[0]
                                return value;
                            }
                        }
                    }]
                }
            }

        },
        optionsM: function () {
            return {
                title: {
                    text: 'Modified'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            max: this.highValue
                        }
                    }]
                }
            }

        },
        chartDataAdded: function () {
            let chartData = {
                labels: ['< 5', '5 - 15', '16 - 30', '31 - 50', '50 >'],
                datasets: []
            }
            this.contributors.forEach((contributor, index) => {
                chartData.datasets.push({
                    label: contributor,
                    backgroundColor: chartColors[index],
                    data: this.addedComplexityCount(contributor)
                })
            });
            return chartData

        },
        chartDataModified: function () {
            let chartData = {
                labels: ['< 5', '5 - 15', '16 - 30', '31 - 50', '50 >'],
                datasets: []
            }
            this.contributors.forEach((contributor, index) => {
                chartData.datasets.push({
                    label: contributor,
                    backgroundColor: chartColors[index],
                    data: this.moddedComplexityCount(contributor)
                })
            });
            return chartData

        },

    },
    methods: {
        addedComplexityCount: function (contributor) {
            let dataset = {'< 5': 0, '5 - 15': 0, '16 - 30': 0, '31 - 50': 0, '50 >': 0}
            this.report.forEach((item) => {
                if (item.author == contributor && !item.merge) {
                    item.modifications.forEach((mod) => {
                        if (mod.type == 'code') {
                            this.addedSize(mod.methods, mod.methods_before).forEach((size) => {
                                if (size < 5) {
                                    dataset['< 5'] += 1;
                                } else if (size < 16) {
                                    dataset['5 - 15'] += 1;
                                } else if (size < 31) {
                                    dataset['16 - 30'] += 1;
                                } else if (size < 51) {
                                    dataset['31 - 50'] += 1;
                                } else if (size > 50) {
                                    dataset['50 >'] += 1;
                                    if (!(item.hash in this.highMethods)) {
                                        this.highMethods[item.hash] = {
                                            filename: mod.filename,
                                            date: item.date,
                                            committer: item.author
                                        }
                                    }
                                }
                            });
                        }
                    })
                }
            });
            return Object.values(dataset)
        },
        moddedComplexityCount: function (contributor) {
            let dataset = {'< 5': 0, '5 - 15': 0, '16 - 30': 0, '31 - 50': 0, '50 >': 0}
            this.report.forEach((item) => {
                if (item.author == contributor && !item.merge) {
                    item.modifications.forEach((mod) => {
                        if (mod.type == 'code') {
                            this.moddedSize(mod.methods, mod.methods_before).forEach((size) => {
                                if (size < 5) {
                                    dataset['< 5'] += 1;
                                } else if (size < 16) {
                                    dataset['5 - 15'] += 1;
                                } else if (size < 31) {
                                    dataset['16 - 30'] += 1;
                                } else if (size < 51) {
                                    dataset['31 - 50'] += 1;
                                } else if (size > 50) {
                                    dataset['50 >'] += 1;
                                    if (!(item.hash in this.highMethods)) {
                                        this.highMethods[item.hash] = {
                                            filename: mod.filename,
                                            date: item.date,
                                            committer: item.author
                                        }
                                    }
                                }
                            });
                        }
                    })
                }
            });
            return Object.values(dataset)
        },
        addedSize: function (current, old) {
            let methods = [];
            for (let method in current) {
                if (Object.keys(old).indexOf(method) == -1) {
                    methods.push(current[method].nloc)
                }
            }
            return methods;
        },
        moddedSize: function (current, old) {
            let methods = [];
            for (let method in current) {
                if (Object.keys(old).indexOf(method) > -1 && current[method].nloc != old[method].nloc) {
                    methods.push(current[method].nloc)
                }
            }
            return methods;
        },
    }
}
</script>

<style scoped>

</style>