<template>
    <div>
        <scatter-plot v-if="loaded" :chart-data="chartData" :options="options"/>
    </div>
</template>

<script>
    import ScatterPlot from "./ScatterPlot";
    import chartColors from "../../util/chartcolors";
    import moment from 'moment';

    export default {
        name: "HourChart",
        components: {ScatterPlot},
        props: ['jsonData'],
        data() {
            return {
                loaded: false,
                chartData: null,
                metricData: null,
                options: {
                    title: {
                        display: false,
                        text: 'Metrics'
                    },
                    tooltips: {
                        callbacks: {
                            label: function (tooltipItem, data) {
                                var label = data.datasets[tooltipItem.datasetIndex].label || '';

                                if (label) {
                                    label += ': ';
                                }
                                var hours = Math.floor(tooltipItem.yLabel);
                                var minutes = tooltipItem.yLabel % 1;
                                minutes = Math.round(minutes * 60);
                                if (minutes < 10) {
                                    minutes = '0' + minutes;
                                }
                                label += hours + ':' + minutes;
                                return label;
                            }
                        }
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            distribution: 'linear',
                            time: {
                                unit: 'day',
                                displayFormats: {
                                    day: 'ddd MMM Do'
                                }
                            }
                        }],
                        yAxes: [{
                            type: 'linear',
                            position: 'left',
                            ticks: {
                                min: 0,
                                max: 24,
                                stepSize: 1
                            }
                        }
                        ]

                    },
                    onClick: this.showfiles
                }
            }
        },
        watch: {
            jsonData: function () {
                this.metricData = this.jsonData;
                this.prepareData()
                this.loaded = true;
            }
        },
        methods: {
            prepareData: function () {
                let contributors = this.metricData["contributors"];
                let dataset = {};
                contributors.forEach(function (contributor) {
                    dataset[contributor] = [];
                });
                let commits = this.metricData["commits"];
                Object.keys(commits).forEach(function (date) {
                    Object.keys(commits[date]).forEach(function (committer) {
                        commits[date][committer]['commit_times'].forEach(function (hour) {
                            let thour = moment(date + ' ' + hour).format('H')
                            let tmin = moment(date + ' ' + hour).format('m') / 60
                            dataset[committer].push({
                                x: moment(date),
                                y: parseFloat(thour) + parseFloat(tmin) + 2 //timezone adjustment
                            })
                        });
                    });
                });
                let chartData = {};
                let newdatasets = [];
                contributors.forEach(function (contributor, index) {
                    newdatasets.push({
                        label: contributor,
                        backgroundColor: chartColors[index],
                        data: dataset[contributor],
                    });
                });
                chartData.datasets = newdatasets;
                this.chartData = chartData;
            }
        }
    }
</script>

<style scoped>

</style>