<template>
    <div class="hello">

    </div>
</template>

<script>
import {mapGetters, mapState} from "vuex";
import {AUTH_LOGOUT} from "@/store/actions/auth";

export default {
    name: 'Home',
    data() {
        return {
            token: this.$store.state.auth.token,
            updated: this.$store.state.repos.loaded
        }
    },
    methods: {
        logout: function () {
            this.$store.dispatch('auth/' + AUTH_LOGOUT).then(() => this.$router.push("/login"));
        }
    },
    computed: {
        ...mapGetters({
                isAuthenticated: 'auth/isAuthenticated',
                repos: 'repos/getRepos'
            }
        ),
        ...mapState({
            authLoading: state => state.auth.status === "loading",
            name: state => `${state.user.profile.title} ${state.user.profile.name}`
        }),
    }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
    margin: 40px 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}
</style>
