<template>
    <div>
        <img alt="Logo" src="../assets/logo_black.png">

        <b-card
            title="Login"
            tag="article"
            style="max-width: 22rem; margin: 20px auto;"
            class="mb-2"
        >

            <b-form class="login" @submit.prevent="login">
                <b-card-text>
                    <b-form-input
                        id="name"
                        v-model="username"
                        type="text"
                        placeholder="Name"/>
                    <b-form-input
                        required
                        id="password"
                        v-model="password"
                        type="password"
                        placeholder="Password"/>
                </b-card-text>
                <b-button type="submit" variant="primary">Login</b-button>
            </b-form>
        </b-card>
        <span v-if="error" class="text-danger">{{error}}</span>
    </div>
</template>

<script>
//import { AUTH_REQUEST } from "../store/actions/auth";

export default {
    name: "login",
    data() {
        return {
            username: "",
            password: "",
            error: ""
        };
    },
    methods: {
        login: function () {
            const {username, password} = this;
            this.$store.dispatch('auth/AUTH_REQUEST', {username, password}).then(() => {
                this.$router.push("/");
            }).catch(() => {this.error='Login Failed'});
        }
    }
}
</script>

<style scoped>
.login {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
}
</style>