<template>
    <div>
        <div class="row">
            <div class="col-md-6">
                <h1 class="h2">{{repoTitle}}</h1>
            </div>
            <div class="col-md-6">
                <b-form inline>
                    <b-input-group prepend="Start Date" class="mb-2 mr-sm-2 mb-sm-0">
                        <b-form-datepicker id="start-date" :min="dateMin" :max="dateMax" v-model="dateRange.startDate"
                                           class="mb-2"></b-form-datepicker>
                    </b-input-group>
                    <b-input-group prepend="End Date" class="mb-2 mr-sm-2 mb-sm-0">
                        <b-form-datepicker id="end-date" :min="dateMin" :max="dateMax" v-model="dateRange.endDate"
                                           class="mb-2"></b-form-datepicker>
                    </b-input-group>
                    <span class="h2"><b-icon v-b-modal.modal-daterange icon="info-circle"></b-icon></span>
                    <b-input-group prepend="Branch*" class="mb-2 mr-sm-2 mb-sm-0">
                        <b-form-select  v-model="branch" :options="branches"></b-form-select>
                    </b-input-group>
                </b-form>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <CodeContrib v-bind:json-data="filteredDataSet" v-bind:contributors="contributors"
                             @updateHighValue="updateHighValue"/>
            </div>
            <div class="col-md-6">
                <CommentContrib v-if="highValue" v-bind:json-data="filteredDataSet"
                                v-bind:contributors="contributors"
                                v-bind:high-value="highValue"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <DocContrib v-bind:json-data="filteredDataSet" v-bind:contributors="contributors"/>
            </div>
            <div class="col-md-6">

                <GitBlame v-bind:gitblame="gitblame" v-bind:contributors="contributors"/>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <Complexity v-bind:json-data="filteredDataSet" v-bind:contributors="contributors" v-bind:url="repoURL"/>
            </div>
            <div class="col-md-6">
                <Size v-bind:json-data="filteredDataSet" v-bind:contributors="contributors" v-bind:url="repoURL"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <HourChart v-bind:json-data="filteredDataSet" v-bind:contributors="contributors"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <b-form-checkbox v-model="displayData" name="check-button" button>
                    Display Commit Data (might take a while)
                </b-form-checkbox>
                <span class="h2"><b-icon v-b-modal.modal-commitdata icon="info-circle"></b-icon></span>
                <br/>
                <CommitData v-if="displayData" v-bind:json-data="filteredDataSet" v-bind:contributors="contributors"
                            v-bind:url="repoURL"/>
            </div>
        </div>
        <b-modal id="modal-commitdata" title="Commit Data">
            <p>
                <b>Source:</b> Per contributor a list of commits that elicited changed and a list of merges. All commits
                are from all known branches in the set. This can take a while to load which is why it is hidden to begin
                with.
            </p>
            <p>
                <b>CC, Interfacing, Size Score</b> are generated by PyDriller: <br/>

            </p>
            <p>
                It represents the proportion (between 0.0 and 1.0) of maintainability improving change, when considering
                the cyclomatic complexity of the modified methods.
            </p>
            <p>
                It rewards (value close to 1.0) modifications to low-risk (low complexity) methods, or spliting risky
                (highly complex) ones. It penalizes (value close to 0.0) working on methods that remain complex or get
                more complex.
            </p>
            <p>
                The same applies for Interfacing and UnitScore. Due to the small nature of the projects these numbers
                can appear very low while the code has not been impacted that much.
            </p>
            <p>
                <b>Show more</b> Will give a list of all the files and methods that were modified in this commit with
                the size and complexity after the change.
            </p>
        </b-modal>
        <b-modal id="modal-daterange" title="Date Range">
            <p>
                The data set fed to all components, except GitBlame, is limited to the following date range and/or
                commit.
            </p>
            <p><strong>Note:</strong>A commit can appear in multiple branches due to merging. If commit 1 exists in the
                master branch and then a branch is made of the master branch, then commit 1 will also exist in the new
                branch.</p>
        </b-modal>
    </div>

</template>

<script>
    import CodeContrib from "./altCharts/CodeContrib";
    import CommentContrib from "./altCharts/CommentContrib";
    import DocContrib from "./altCharts/DocContrib";
    import HourChart from "./altCharts/HourChart";
    import Complexity from "./altCharts/Complexity";
    import CommitData from "./altCharts/CommitData";
    import moment from "moment";
    import Size from "./altCharts/Size";
    import GitBlame from "./altCharts/GitBlame";

    export default {
        name: "altGraph",
        components: {GitBlame, CommitData, HourChart, CodeContrib, CommentContrib, DocContrib, Complexity, Size},
        props: ['jsonData', 'repoTitle', 'contributors', 'repoURL', 'gitblame', 'branches'],
        data() {
            return {
                branch: 'all',
                loading: false,
                displayData: false,
                selected: 'radio1',
                highValue: 0,
                dateRange: {
                    endDate: null,
                    startDate: null,
                },
                options: [
                    {text: 'Radio 1', value: 'radio1'},
                    {text: 'Radio 3', value: 'radio2'},
                    {text: 'Radio 3 (disabled)', value: 'radio3', disabled: true},
                    {text: 'Radio 4', value: 'radio4'}
                ]
            }
        },
        watch: {
            jsonData: {
                handler: function() {
                    this.branch = 'all';
                    this.dateRange.startDate = this.dateMin;
                }
            }
        },
        mounted: function () {
            this.dateRange.endDate = this.dateMax;
            this.dateRange.startDate = this.dateMin;
        },
        computed: {
            filteredDataSet: function () {
                let commits = [];
                this.jsonData.forEach((item) => {
                    if (this.withinTimeRange(item.date) && this.checkBranch(item.branches)) {
                        commits.push(item)
                    }
                });
                return commits;
            },
            dateMin: function () {
                return new Date(this.jsonData[0].date);
            },
            dateMax: function () {
                return new Date();
            }
        },
        methods: {
            updateHighValue: function (value) {
                this.highValue = value;
            },
            withinTimeRange: function (date) {
                let withinRange = true;
                if (this.dateRange.startDate) {
                    if (moment(date).isBefore(moment(this.dateRange.startDate, "YYYY-MM-DD"))) {
                        withinRange = false;
                    }
                }
                if (this.dateRange.endDate) {
                    if (moment(date).isAfter(moment(this.dateRange.endDate, "YYYY-MM-DD"))) {
                        withinRange = false;
                    }
                }
                return withinRange;
            },
            checkBranch: function (branches) {
                if (this.branch == 'all') {
                    return true;
                }
                if (branches.indexOf(this.branch) > -1) {
                    return true;
                }
                return false;
            }
        }
    }
</script>

<style scoped>

</style>