<template>
    <div id="app">
        <NavBar v-if="isAuthenticated"/>
        <router-view></router-view>
    </div>
</template>

<script>

import {mapGetters} from "vuex";
import NavBar from "@/components/NavBar";

export default {
    name: 'App',
    components: {NavBar},

    mounted() {
        if(this.$store.getters['repos/getRepos'].length == 0)
            this.$store.dispatch('repos/fetchRepos', this.$route.params.repoId);
    },
    computed: {
        ...mapGetters({
                isAuthenticated: 'auth/isAuthenticated',

            }
        ),
    }
}
</script>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}
</style>
